*{

	margin: 0;
	padding: 0;
}
body{
	font-family: tahoma;
}
header{
	padding: 100px 0;
	text-align: center;
}
.header-content{
	padding: 20px;
}
.header-content h1{
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 15px;
}
.header-content a{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-decoration: none;
}
.header-content p{
    font-size: 19px;
    padding-bottom: 15px;
}
.company-section{
	padding: 30px 0;
	background: #F1F4FB;
}

.company-section h2{
	font-size: 24px;
	
}

.product-section{

	padding: 200px 0;
}

.product-title{
	padding-bottom: 20px;
}

.product-title h2{
	font-weight: 700;
}
.product-title p, .solution-title p{
	padding: 0 400px;
	margin-top: 20px;
}
.product h2{
	margin-top: 30px;
	font-size : 27px;
	line-height: 1.5;
	font-weight: 700;
	padding-bottom: 15px;
}
.product p{
	line-height: 1.6;

}

.solution-section{
	padding: 100px 0;
}

.solution-title{
	padding-bottom: 150px;
}

.solution-title h2{

	    font-weight: 700;
    	font-size: 40px;
    	padding-bottom: 15px
}
.solution-title p{
	font-size: 18px;
	padding-bottom: 25px;
}
.solution h2{

font-weight: 700;

font-size: 25px;

letter-spacing: 1px;

line-height: 1.6;

margin-top: 45px;
}
.last{
	margin-top: 70px !important;
}
.solution p{line-height: 1.7;}
.review-section{

	padding: 170px 0;

}
.review img{
    padding-bottom: 35px;
}
.review h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    padding-bottom: 15px;
}
.review p{

	padding-bottom: 10px;
  
}
.review-border{
	border: 5px solid #EEF2F5;
	padding: 40px 30px;
	border-radius: 10px;
}
.review-border p, .review p{

	line-height: 1.6;
    font-size: 15px;

}
.review h2{
	    font-weight: 700;
    	font-size: 24px;
    	letter-spacing: 1px;
    	line-height: 1.6;
    	padding-bottom: 30px;
}
.blue{
	background: #38aef345;
	padding: 0 5px;
}
.red{

	background-color: #ef8e9f85;
	padding: 0 5px;
}
h3{

font-weight: 600;

margin: 0;

padding-bottom: 5px;
}
.stat{
    font-weight: 500;
    font-size: 17px !important;
}
.product-benefit-section{
	padding: 100px 0;
}
.product-benefit-title{

	padding-bottom: 100px;
}
.product-benefit-title h2{

		font-weight: 600;
    	font-size: 40px;
    	
}
h5{

	padding-top: 25px;
	font-weight: 600;
}
.benefit{

	padding: 50px;
}
.visitor-section{

	padding: 130px 0;
	background: #237BE5;
	color: #fff;
}
.visitor h2{

font-weight: 700;

line-height: 1.5;

padding-bottom: 10px;

padding-right: 205px;
}
.visitor p{

font-weight: 500;

line-height: 1.7;

padding-right: 219px;
}
.visitor a{
	color: #fff;
	padding: 15px;
}
.visitor a:hover{
	
background: #fff;
	
color: blue;
	
padding: 15px;
}
.visitor h4{
	font-size: 16px;
	font-weight: 500;
	padding-top: 10px;
}
.video-section{

	padding: 150px 0;
}
.video h2{
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 15px;
    padding-right: 190px;
}
.video p{
    line-height: 1.7;
    padding-right: 220px;
}

footer{
	padding: 40px 0;
	padding-top: 15px;
	background-color: #F1F4FB;
}
.footer-width{
	width: 900px;
}
.footer h1{

	font-size: 30px;
	font-weight: 700;
}
